{% extends "base_generic.htm" %}

{% block content %}

{% if form.errors %}
<p>Ваше имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>У вашей учетной записи нет доступа к этой странице. Продолжать,
     войдите в систему с учетной записью, имеющей доступ.</p>
    {% else %}
    <p>Пожалуйста, войдите, чтобы увидеть эту страницу.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
    <table>
        <tr>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </tr>
   </table>
</div>

<div style="margin-left: 77px;">
    <table>
        <tr>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </tr>
    </table>
</div>

<div>
  <button type="submit" class="btn btn-info" style="font-size: 12px;width: 70px;margin-left: 225px;margin-top: 15px;">Логин</button>
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
{% endblock %}