{% extends "base_generic.htm" %}
{% block content %}
<h1>Добавить подарок событию</h1>
<form action="" method="post" class="needs-validation" novalidate="">
  {% csrf_token %}
  {{ EventsGiftDetailView_form }}
  {{ eventsgiftdetailview_form }}
  {{ EventsGiftDetail_form }}
  {{ eventsgiftdetail_form }}
  {{ EventsGift_form }}
  {{ eventsgift_form }}
  {{ EventsGiftDetailView_form.all_events }}
  {{ eventsgiftdetailview_form.all_events }}
  {{ eventsgiftdetail_form.all_events }}
  {{ EventsGift_form.all_events }}
  {{ eventsgift_form.all_events }}
  {{ add_eventsgift_form.all_events }}
  {{ form.all_events }}
  {{ form.EventsGift_create.all_events }}
  {{ form.eventsgift_create.all_events }}
  <ul>
    <li><strong>Выберите событие: </strong><select name="{{form.id_event.name}}">
        <option value="Выдан">Выдан</option>
    </select>
    </li>
  </ul>
  <button class="btn btn-primary btn-lg btn-block" type="submit" style="width: 150px; margin-left: 50px;">Добавить</button>
</form>
{% endblock %}