{% extends "base_generic.htm" %}
{% block content %}
<h1>Добавить подарок событию</h1>
<form action="" method="post" class="needs-validation" novalidate="">
  {% csrf_token %}
  <ul>
    <li><strong>Выберите событие: </strong><select name="{{form.id_event.name}}">
      {% for item in events %}
        <option value="{{item.id}}">{{item.name}}</option>
      {% endfor %}
    </select>
    </li>
    <li><strong>Выберите подарок: </strong><select name="{{form.id_gift.name}}">
      {% for item in gifts %}
        <option value="{{item.id}}">{{item.name}}</option>
      {% endfor %}
    </select>
    </li>
  </ul>
  <button class="btn btn-primary btn-lg btn-block" type="submit" style="width: 150px; margin-left: 50px;">Добавить</button>
</form>
{% endblock %}