{% extends "base_generic.htm" %}
{% load static %}
{% block content %}
<h1>Карточка подарка</h1>
    <!-- Bootstrap core CSS -->
<div class="container">
  <div class="py-5 text-center">
    <h2>{{form.name.value}}</h2>
      <p class="lead">Изменить данные о подарке</p>
  </div>
  <div class="row">
      <div class="col-md-8 order-md-1" style="margin: auto;">
              <form action="" method="post" class="needs-validation" novalidate="" enctype="multipart/form-data">
                  {% csrf_token %}
          <div class="row">
              <div class="col-md-6 mb-3">
                <label for="name">Название подарка</label>
                <input class="form-control" placeholder="" required="" type="text" id="name"
                       name="{{form.name.name}}" value="{{form.name.value}}" style="font-size: 15px;">
                <div class="invalid-feedback">
                  Введите название подарка.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="dName">Количество</label>
                <input class="form-control" id="dName" placeholder="" required="" type="number"
                       name="{{form.cnt.name}}" value="{{form.cnt.value}}" pattern="[0-9]{3}" style="height: 30px; font-size: 15px;">
                <div class="invalid-feedback">
                  Введите количество.
                </div>
              </div>
          </div>
                  <p>{{ form.non_field_errors }}</p>
                  <p><label>Загрузите изображение:</label></p>
                  <p>
                        {{ form.img.errors }}
                        {{ form.img }}
                  </p>
            <hr class="mb-4">
             <form onclick="location.reload()">
                 <button class="btn btn-primary btn-lg btn-block" type="submit">Сохранить</button>
             </form>
               </form>
      </div>
  </div>
</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-3.js' %}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/holder.js' %}"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>


{% endblock %}