{% extends "base_generic.htm" %}

{% block content %}
<style>

.button22 {
  margin-top:25px;
  position: relative;
  display: inline-block;
  width: 160px;
  height: 2.5em;
  line-height: 2.4em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  user-select: none;
  color: #000;
  outline: none;
  border: 1px solid rgba(110,121,128,.8);
  border-top-color: rgba(0,0,0,.3);
  border-radius: 5px;
  background: rgb(206, 220, 231) linear-gradient(rgb(206,220,231), rgb(89,106,114));
  box-shadow:
   0 -1px rgba(10,21,28,.9) inset,
   0 1px rgba(255,255,255,.5) inset;
}
.button22:hover {
  background: linear-gradient(#d2dfea, #71828c);
}
.button22:active {
  line-height: 2.6em;
  background: linear-gradient(#bac6cf, #c5d3de 20%, #71828c);
  box-shadow: 0 -1px rgba(255,255,255,.4) inset;
}
.button22:before {
  content: "";
  position: absolute;
  top: -10px; right: -10px; bottom: -10px; left: -10px;
  z-index: -1;
  border-radius: 8px;
  background: linear-gradient(rgba(200,200,200,.5), rgba(240,240,240,.5));
}

</style>
  <h1>Название подарка: {{ giftouts.display_gift }}</h1>

<li><strong>Пользователь:</strong> {{ giftouts.display_name }}</li>
<li><strong>Статус подарка: </strong><select name="form.status.name">
  <option value="Ожидает выдачи">Ожидает выдачи</option>
  <option value="Выдан">Выдан</option>
</select></li>
<li><strong>id пользователя:</strong> {{ giftouts.id_user }}</li>
<li><strong>Номер телефона:</strong> {{ giftouts.display_phone }}</li>
{% if giftouts.status == "Ожидает выдачи" %}
  <button class="btn btn-primary btn-lg btn-block" type="submit">Выдать подарок</button></form>
{% endif %}

{% endblock %}