{% extends "base_generic.htm" %}

{% block content %}

    <h1>Подарки пользователей</h1>

    {% if giftouts_list %}
    <table border="2">
        <tbody>
            <tr align="center">
                <th style="padding: 5px;">Название подарка</th>
                <th style="padding: 5px;">Номер телефона пользователя</th>
                <th style="padding: 5px;">Статус подарка</th>
            </tr>
            {% for giftouts in giftouts_list %}
                <tr align="center">
                    <td style="padding: 5px;"><a href="{{path}}/catalog/gift_descript/{{giftouts.display_gift.id}}">{{ giftouts.display_gift.name }}</a></td>
                    <td style="padding: 5px;"><a href="{{path}}/catalog/users/{{giftouts.display_phone.id}}">{{ giftouts.display_phone.phone }}</a></td>
                    <td style="padding: 5px;"><a href="{{ giftouts.get_absolute_url }}">{{ giftouts.status}}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}

    {% endif %}
{% endblock %}