{% extends "base_generic.htm" %}

{% block content %}
    <h1>Подарки</h1>

    {% if giftdescript_list %}
    <ul>

      {% for giftDescript in giftdescript_list %}
      <li>
        <a href="{{ giftDescript.get_absolute_url }}">{{ giftDescript.name }}</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>Пусто</p>
    {% endif %}
<button class="btn btn-primary btn-lg btn-block" onClick="window.location.href='{{request.path}}new/'" type="submit" style="width: 25%;margin-left: 25px;">Добавить</button>
{% endblock %}