{% extends "base_generic.htm" %}

{% block content %}
  <h1>Имя: {{ users.name }}</h1>

<li><strong>Номер телефона:</strong> {{ users.phone }}</li>
<li><strong>id пользователя:</strong> {{ users.id_user }}</li>
<li><strong>id пригласившего:</strong> {{ users.id_invite }}</li>
<li><strong>Дата рождения:</strong> {{ users.dt_birth }}</li>
<li><strong>Дата регистрации:</strong> {{ users.dt_add }}</li>
<li><strong>Статус:</strong> {{ users.status }}</li>
<li><strong>Дата обновления:</strong> {{ users.dt_last_up }}</li>

<li><strong>Список подарков:</strong></li>
<ol>
  {% for user in users.get_gifts %}
    <li>
      <a href="{{path}}/catalog/gift_outs/{{user.id}}">
        {{user.gift_name}} (Событие: {{user.event_name}}) Статус: {{user.status}}
      </a>
    </li>
  {% endfor %}
</ol>
<div>
    <button type="button" class="btn btn-primary btn-lg btn-block"
            onClick="window.location.href='{{request.path}}/excel/'"
            style="width: 100px; height: 30px;">Excel</button>
</div>
{% endblock %}